<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CBP_Manila.Properties.Settings.usersConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\users.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CBP_Manila.Properties.Settings.usersDataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\usersData.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CBP_Manila.Properties.Settings.usersDataConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\usersData.accdb"
            providerName="System.Data.OleDb" />
        <add name="CBP_Manila.Properties.Settings.logInConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\logIn.accdb"
            providerName="System.Data.OleDb" />
        <add name="CBP_Manila.Properties.Settings.CBPBusinessDatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\CBPBusinessDatabase.accdb"
            providerName="System.Data.OleDb" />
        <add name="CBP_Manila.Properties.Settings.businessDataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\businessData.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>